source "Kconfig.zephyr"

menu "Portable Gamepad Firmware settings"

config PGF_INPUT_MODE_DEFAULT
    int "Default input mode"
    range 1 3
    default 1
    help
        1 = Stadia
        2 = Switch
        3 = PC

config PGF_INPUT_MODE_DYNAMIC
    bool "Enable input mode switching"
    default y

config PGF_MANUFACTURER_NAME
    string "Device manufacturer string"
    default "Arasaka"

config PGF_PRODUCT_NAME
    string "Device product name"
    default "PGF"

endmenu
