&ioport3 {
    status = "okay";
};

&flash1 {
    partitions {
        compatible = "fixed-partitions";
        #address-cells = <1>;
        #size-cells = <1>;

        storage_partition: partition@0 {
            label = "storage";
            reg = <0x0 DT_SIZE_K(8)>;
        };
    };
};
